<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ClockIn{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<header class="header">
    <div class="logo">Y&G GENERAL SERVICES LLC</div>
        <nav class="nav">
        <a href="/admin" class="button">Home</a>
        <a href="/logout" class="button">Cerrar Sesión</a>
       
    </nav>
</header>
<h2>Panel de Administración</h2>

<main class="admin-container">
    
    <!-- Contenedor de Empleados -->
    <section class="admin-box">
        <h2>Equipo</h2>
        <ul class="employee-list">
            {% for empleado in empleados %}
            {{ empleado.usuario }} - Código: {{ empleado.codigo }}
            <li class="employee-item">
                
                
                <a href="/historial/{{ empleado.codigo }}" class="button">Ver Historial</a>
                <form action="/admin/eliminar_empleado" method="post" style="display:inline;">
                    <input type="hidden" name="usuario" value="{{ empleado.usuario }}">
                    <button type="submit" class="button delete-button">Eliminar</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </section>

    <!-- Agregar Empleado -->
    <section class="admin-box">
        <h2>Agregar Nuevo Empleado</h2>
        <form action="/admin/agregar_empleado" method="post">
            <input type="text" name="usuario" placeholder="Usuario del empleado" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit" class="button">Agregar</button>
        </form>
    </section>

    <!-- Contenedor de Trabajos -->
    <section class="admin-box">
        <h2>Trabajos Actuales</h2>
        <ul class="job-list">
            {% for trabajo in trabajos %}
            <li class="job-item">
                <span>{{ trabajo.nombre }} - {{ trabajo.direccion }}</span>
                <form action="/admin/eliminar_trabajo" method="post" style="display:inline;">
                    <input type="hidden" name="nombre_trabajo" value="{{ trabajo.nombre }}">
                    <button type="submit" class="button delete-button">Eliminar</button>
                </form>
            </li>
            {% endfor %}
        </ul>

        
    </section>

     <!-- Contenedor de agregar trabajos -->
     <section class="admin-box">
        <h2>Agregar Nuevo Trabajo</h2>
        <form action="/admin/agregar_trabajo" method="post">
            <input type="text" name="nombre_trabajo" placeholder="Nombre del trabajo" required>
            <input type="text" name="direccion_trabajo" placeholder="Direccion del trabajo" required>
            <button type="submit" class="button">Agregar</button>
        </form>
        
    </section>

</main>

<a href="/logout" class="button logout-button">Cerrar Sesión</a>
