{% extends "base.html" %}

{% block content %}
    <h2>Historial de asistencia</h2>
    <p>Mostrando historial para el empleado con código: {{ codigo }}</p>
    
    {% if registros %}
        <table>
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Date</th>
                    <th>In</th>
                    <th>Out</th>
                </tr>
            </thead>
            <body>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.day }}</td>
                    <td>{{ registro.date }}</td>
                    <td>{{ registro.in }}</td>
                    <td>{{ registro.out }}</td>
                </tr>
            {% endfor %}
            </body>
        </table>
    {% else %}
        <p>No hay registros disponibles.</p>
    {% endif %}

    <a href="{% if request.cookies.get('session') == 'admin' %}/admin{% else %}/empleado/{{ request.cookies.get('session') }}{% endif %}" class="button">Home</a>
    <a href="/logout" class="button">Cerrar Sesión</a>
{% endblock %}  
